.dropdown {
	height: auto;
	overflow: hidden;

	h3 {
		cursor: pointer;
		background: #f5f7ff;
		display: flex;
		justify-content: space-between;
		font-size: 1.6rem;
		font-weight: 600;
		padding-bottom: 0.5rem;
	}

	.arrow {
		&Up {
			filter: contrast(0);
			rotate: 0deg;
			transition: rotate 0.25s ease-in-out;
		}

		&Down {
			filter: contrast(0);
			rotate: -180deg;
			transition: rotate 0.25s ease-in-out;
		}
	}
}

@media (max-width: 768px) {
	.dropdown h3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #fff;
		font-size: 1.4rem;
	}
}
