.wrapper {
	width: 100%;
	padding: 13.4rem 2rem 2rem;
}

.container {
	max-width: 140rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	h1 {
		font-size: 3.2rem;
		font-weight: 600;
	}
}

@media (max-width: 520px) {
	.container {
		h1 {
			font-size: 1.8rem;
		}
	}
}
