nav {
	position: sticky;
	position: -webkit-sticky;
	top: 14rem;

	max-width: 30%;
	max-height: calc(100vh - 40px);
	height: fit-content;
	overflow: auto;
	padding: 2.5rem;
	background: var(--Color---1, #f5f7ff);

	ul {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	li.active > a {
		font-weight: 600;
	}

	li > a:hover {
		font-weight: 500;
	}

	a {
		color: var(--Color---7, #000);
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.8rem; /* 128.571% */
	}
}
