.wrapper {
	width: 100%;
	padding: 13.4rem 2rem 2rem;
}

.container {
	max-width: 140rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.content {
	display: grid;
	gap: 2rem;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	grid-template-areas:
		'A B B'
		'A B B';

	font-size: 1.6rem;
	color: #000;
}

.box1 {
	grid-area: A;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	img {
		max-width: 30rem;
		width: 100%;
		aspect-ratio: 1/1;
	}

	.ratingRow {
		display: flex;
		gap: 0.5rem;

		img {
			width: 1.3rem;
		}
	}
}

.box2 {
	grid-area: B;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&_Header {
		display: flex;
		gap: 2rem;

		& > div {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		.addToWishlist {
			cursor: pointer;
			width: 3rem;
			height: 3rem;
			background: transparent;

			img {
				width: 100%;
				height: 100%;
			}

			&:hover {
				transition: all 0.25s ease-in-out;
				transform: scale(1.1);
			}
		}

		.devicePrice {
			font-size: 1.4rem;
			font-weight: 400;

			&Value {
				font-size: 1.6rem;
				font-weight: 600;
				line-height: 140%;
			}
		}

		.DevicePageCounter {
			width: 7rem;
			padding: 0.5rem 1rem;
			border-radius: 6px;
			background: #f5f7ff;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&_textField {
				max-width: 50%;
				background: transparent;
				text-align: center;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				&[type='number'] {
					appearance: textfield;
					-moz-appearance: textfield;
				}
			}

			&_controlArea {
				display: flex;
				flex-direction: column;
				justify-content: center;
				// gap: 0.5rem;

				img {
					cursor: pointer;
					transition: all 0.25s ease-in-out;

					&:hover {
						filter: brightness(0%);
						transform: scale(1.2);
					}
				}
			}
		}

		.addToCart {
			background: #fff;
			padding: 0.5rem 1rem;
			display: flex;
			gap: 0.5rem;
			border: #0156ff solid 0.2rem;
			border-radius: 3rem;
			color: #0156ff;
			font-size: 1.4rem;
			font-weight: 600;

			&:hover {
				transition: all 0.25s ease-in-out;
				transform: scale(1.05);
			}
		}
	}

	&_Footer {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.deviceName {
			font-size: 3.2rem;
			font-weight: 500;
			text-transform: uppercase;
		}

		.deviceInfo {
			max-width: 50rem;
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 3rem;
			background: #f5f7ff;
			border-radius: 2rem;
			padding: 1rem;
		}
	}
}

@media (max-width: 768px) {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		font-size: 1.4rem;
		color: #000;
	}

	.box2_Header {
		flex-direction: column;
		align-items: center;
	}
}
