@mixin button-styles($background, $border, $color) {
	cursor: pointer;
	min-width: 12rem;
	background: $background;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: 600;
	border: $border solid 0.2rem;
	color: $color;

	&:hover {
		transition: all 0.25s ease-in-out;
		background: $border;
		color: #fff;
	}
}

.blueButton {
	@include button-styles(transparent, #0156ff, #0156ff);
}

.greenButton {
	@include button-styles(transparent, #167916, #167916);
}

.redButton {
	@include button-styles(transparent, #e21313, #e21313);
}

.blackButton {
	@include button-styles(transparent, #000, #000);
}

.grayButton {
	@include button-styles(transparent, #a2a6b0, #a2a6b0);
}
