.blueButton {
	cursor: pointer;
	min-width: 12rem;
	background: transparent;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: 600;
	border: #0156ff solid 0.2rem;
	color: #0156ff;

	&:hover {
		transition: all 0.25s ease-in-out;
		background: #0156ff;
		color: #fff;
	}
}

.greenButton {
	cursor: pointer;
	min-width: 12rem;
	background: transparent;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: 600;
	border: #167916 solid 0.2rem;
	color: #167916;

	&:hover {
		background: #167916;
		color: #fff;
	}
}

.redButton {
	cursor: pointer;
	min-width: 12rem;
	background: transparent;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: 600;
	border: #e21313 solid 0.2rem;
	color: #e21313;

	&:hover {
		background: #e21313;
		color: #fff;
	}
}

.blackButton {
	cursor: pointer;
	min-width: 12rem;
	background: transparent;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: 600;
	border: #000 solid 0.2rem;
	color: #000;

	&:hover {
		background: #000;
		color: #fff;
	}
}

.grayButton {
	cursor: pointer;
	min-width: 12rem;
	background: transparent;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: 600;
	border: #a2a6b0 solid 0.2rem;
	color: #a2a6b0;

	&:hover {
		transition: all 0.25s ease-in-out;
		background: #a2a6b0;
		color: #fff;
	}
}
