.wrapper {
	width: 100%;
	padding: 0 2rem;
}

.container {
	max-width: 140rem;
	margin: 15rem auto 4rem;
	display: flex;
	flex-direction: column;
	color: #000;
	font-size: 1.3rem;

	h1 {
		font-size: 3.2rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 2rem;
	}

	& > div {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
}

.content {
	// width: 80%;
	display: flex;
	flex-direction: column;
}

.sidebar {
	min-width: 25rem;
	width: 20%;
	background: #f5f7ff;
	padding: 1rem;
	border-radius: 1rem;

	&Title {
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
	}

	h3,
	ul {
		margin-bottom: 1rem;
	}

	&Menu {
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 210%;

		&Option {
			cursor: pointer;
			padding: 0 1rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:hover {
				// color: #fff;
				background: rgba(#0156ff, 0.2);
				border-radius: 1.5rem;
			}

			&Active {
				cursor: pointer;
				padding: 0 1rem;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: #0156ff;
				color: #fff;
				border-radius: 1.5rem;
			}
		}
	}
}
