.navbar {
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;

	&_header {
		height: 4.4rem;
		padding: 0 26rem;
		background: #000;
		color: #a2a6b0;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.schedule {
			display: flex;
			align-items: center;
			gap: 0.4rem;

			img {
				cursor: pointer;
			}
		}

		.adress {
			display: flex;
			align-items: center;
			gap: 0.4rem;

			a {
				cursor: pointer;
				color: #fff;
				position: relative;

				&::before {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 2px;
					right: 50%;
					bottom: -5px;
					background: #fff;
					transition: width 0.3s ease-out;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 2px;
					left: 50%;
					bottom: -5px;
					background: #fff;
					transition: width 0.3s ease-out;
				}

				&:hover {
					&::before {
						width: 50%;
					}

					&::after {
						width: 50%;
					}
				}
			}
		}

		.contacts {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			span {
				margin-right: 0.6rem;
			}
		}
	}

	&_footer {
		height: 9.2rem;
		padding: 0 26rem;
		background: #fff;
		box-shadow: 0 0.1rem 0 0 #cacdd8;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.navigation {
			position: relative;
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			max-width: 1126px;
			height: 60px;

			.menu {
				overflow: hidden;

				ul {
					display: flex;
					gap: 2.5rem;
					color: #000;
					text-align: center;
					font-size: 1.4rem;
					font-weight: 600;
					transform: translate(0);
					animation: closeSearch 0.2s ease-out;

					a {
						color: #000;
					}

					@keyframes closeSearch {
						from {
							transform: translate(-100%);
						}
						to {
							transform: translate(0);
						}
					}
				}
			}

			.area {
				position: absolute;
				width: 1126px;
				height: 60px;
				top: 0;
				right: 0;
				border-radius: 31px;
				background: #f5f7ff;
				padding: 2.6rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				animation: openSearch 0.2s ease-out;

				input {
					flex: 1 1 auto;
					margin-right: 2rem;
					background: #f5f7ff;
				}

				img {
					cursor: pointer;
				}

				@keyframes openSearch {
					from {
						width: 0px;
					}

					to {
						width: 1126px;
					}
				}
			}
		}

		.management {
			display: flex;
			gap: 2.5rem;

			img {
				cursor: pointer;

				&:last-child {
					margin-left: 1.1rem;
				}
			}
		}
	}

	span {
		color: #fff;
	}
}
