.burger {
	cursor: pointer;
}

.menu {
	position: fixed;
	width: 32rem;
	height: 100vh;
	padding: 0.5rem 2rem;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 2;

	a,
	img {
		cursor: pointer;
	}

	filter: drop-shadow(0 0 0.5rem rgba(34, 60, 80, 0.2));

	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		box-shadow: 0 0.1rem 0 0 #cacdd8;

		.logo {
			transform: translateX(-2.5rem);
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #000;
			font-size: 1.3rem;
			font-style: normal;
			font-weight: 400;
		}
	}

	&Show {
		animation: showMenu 0.25s ease-in-out forwards;
	}

	&Hide {
		animation: showMenu 0.25s ease-in-out forwards reverse;
	}

	@keyframes showMenu {
		from {
			opacity: 0;
			transform: translate(-30rem);
		}
		to {
			opacity: 1;
			transform: translate(0);
		}
	}
}
