.homeLink {
	position: relative;
	cursor: pointer;
	color: #000;

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 1px;
		right: 50%;
		bottom: -3px;
		background: #000;
		transition: width 0.3s ease-out;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 1px;
		left: 50%;
		bottom: -3px;
		background: #000;
		transition: width 0.3s ease-out;
	}

	&:hover {
		&::before {
			width: 50%;
		}

		&::after {
			width: 50%;
		}
	}
}
