.typesBlock {
	.modalTable {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&Header,
		&Row {
			display: grid;
			grid-template-columns: 0.5fr 7.5fr 2fr;
			align-items: center;
			gap: 1rem;
			padding: 0.5rem;
			box-shadow: 0 0.1rem 0 0 rgba(#000, 0.2);

			td:last-child {
				justify-self: end;
			}
		}

		&Header {
			padding: 0.5rem 0.5rem 1rem;
			box-shadow: 0 0.2rem 0 0 rgba(#000, 0.5);
		}

		&Row {
			& td > button {
				min-width: fit-content;
				padding: 0.1rem 1.5rem;
			}
		}
	}
}
