@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Файл обнуляющих стилей
@import '_nullstyle.scss';
@import '_mixins.scss';

body {
	font-family: 'Poppins', sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
