.wrapper {
	width: 100%;
	padding: 0 2rem;
	font-size: 1.6rem;
}

.container {
	max-width: 140rem;
	margin: 15rem auto 4rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.breadcrumbs {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	font-weight: 400;

	span {
		color: #0156ff;
	}
}

.controls {
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	gap: 2.5rem;
	background: #f5f7ff;
	border-radius: 1rem;

	& > button {
		position: relative;
		width: fit-content;
		cursor: pointer;
		background: transparent;
		color: #000;
		font-size: 1.4rem;
		line-height: 2.8rem;
		font-weight: 500;
		white-space: nowrap;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 2px;
			right: 50%;
			bottom: 0px;
			background: #000;
			transition: width 0.3s ease-out;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 2px;
			left: 50%;
			bottom: 0px;
			background: #000;
			transition: width 0.3s ease-out;
		}

		&:hover {
			&::before {
				width: 50%;
			}

			&::after {
				width: 50%;
			}
		}
	}
}

.content {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-bottom: 2rem;
		width: 60rem;

		& > h2 {
			font-size: 2rem;
			font-weight: 600;
		}

		& > form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			& > input {
				width: 100%;
				border-radius: 3.1rem;
				border: #0156ff 0.1rem solid;
				background: #f5f7ff;
				padding: 1rem 1.5rem;
				color: var(--color-5, #000);
				font-size: 1.4rem;
				font-weight: 400;
			}
		}

		button {
			width: fit-content;
			padding: 0.5rem 1.5rem;
			display: flex;
			gap: 0.5rem;
			border-radius: 3rem;
			font-size: 1.4rem;
			font-weight: 600;
			transition: all 0.25s ease-in-out;
		}
	}
}

@media (max-width: 1024px) {
	.content {
		flex-direction: column;
		align-items: center;

		& > div {
			min-width: 28rem;
			width: 75%;
		}
	}
}
